<%- include('../partials/header') %>
<nav>
    <div class="nav-links">
      <a href="/diets/new" class="nav-link">Add Diet</a>
      <a href="/diets" class="nav-link">Diet List</a>
    </div>
  </nav>

  <div class="container">
<h2>Rate Expresss Diet</h2>
<form action="/diets/<%=diet.id%>?_method=PUT" method="POST">
  
  <br>
  <div class="form-group">
  <label>User Rating:</label>
  <select name="Rating">
    <option value="Not Rated" <%= diet.Rating === 'Not Rated' ? 'selected' : '' %>>Not Rated </option>
    <option value="1 star" <%= diet.Rating === '1 star' ? 'selected' : '' %>>1 star </option>
    <option value="2 stars" <%= diet.Rating === '2 stars' ? 'selected' : '' %>>2 stars</option>
    <option value="3 stars" <%= diet.Rating === '3 stars' ? 'selected' : '' %>>3 stars</option>
    <option value="4 stars" <%= diet.Rating === '4 stars' ? 'selected' : '' %>>4 stars</option>
    <option value="5 stars" <%= diet.Rating === '5 stars' ? 'selected' : '' %>>5 stars</option>
  </select>
  </div> 
  <div class="form-group">
  <label>User Comment:
    <input type="text" name="Comments" value="<%= diet.Comments%>" placeholder=" ">
  </label><br>
  </div>
  <div class="form-group">
  <button type="submit" id="but" class="Rate-button" >Rate Diet</button>
  </div>
</form>
  </div>

<%- include('../partials/footer') %>