<%- include('../partials/header') %>
<nav>
  <a href="/diets" class="nav-link">Diet List</a>
  <a href="/diets/new" class="nav-link">Add Diet</a>

</nav>
<div class="container">
  <h2 class="heading">Diet List</h2>
  <table class="diet-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Rating</th>
        <th>Comments</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%diets.forEach(diet=>{%>
        <tr>
          <td id="but" class="Feedback-button" class="diet-name"><a href="diets/<%=diet.id%>"><%=diet.name%></a></td>
          <td><%=diet.Rating%></td>
          <td><%=diet.Comments%></td>
          <td>
            <form action="/diets/<%=diet.id%>?_method=DELETE" method="POST" class="delete-form"> 
              <button type="submit" id="but" class="delete-button">Delete</button> 
            </form>
          </td>
        </tr>
      <%})%>
    </tbody>
  </table>
</div>
<%- include('../partials/footer') %>